body {
    margin: 0px;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav {
    padding-top: 10px;
    float: top;
    width: 100%;
    background-color: #F45B69;
    overflow: hidden;
    text-align: center;
}

.topnavlink {
    color: #FFFFFF;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnavlink:hover {
    font-size: 150%;
}

.topnavlogin {
    color: #FFFFFF;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnavlogin:hover {
    text-decoration: underline;
}

.container-a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.wine-name{
    display: flex;
    flex-basis: 270px;
    color: #F45B69;
    font-size: 21px;
    flex-basis: 270px;
    text-align: center;
    justify-content: center;
}

.wine-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.wine-id{
    display: flex;
    flex-basis: 270px;
    color: #F45B69;
    font-size: 21px;
    flex-basis: 270px;
    text-align: center;
    justify-content: center;
}

.producers {
    margin: auto;
    padding: 5px;
}

.region {
    margin: auto;
    padding: 5px;
}

.rating{
    margin: auto;
    padding: 5px;
}

.info{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    color: #FFFFFF;
    width: fit-content;
    background-color: #456990;
    margin: 1rem;
    padding: 5rem;
    border-radius: 1.2rem;
}

.wine {
    display: flex;
    text-align: center;
    justify-content: center;
    flex: 1;
    flex-basis: 270px;
    color: #FFFFFF;
    width: 100%;
    max-width: 532px;
    background-color: #456990;
    margin: 1rem;
    padding: 0.4rem;
    border-radius: 1.2rem;
}

.wine img {
    border-radius: 1rem 0 0 1rem;
    margin-right: 1rem;
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #cccccc;
    border-width: 0px;
    margin-bottom: 15px;
}

/* wineries */
.winery-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vine {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    background-color: #114B5F;
    border-radius: 1.2rem;
    color: #FFFFFF;
}

#search-wineries {
    margin-top: 2rem;
}

.vine-photo {
    margin-right: 15px;
}

/* reviews */

select {
    color: #FFFFFF;
    width: 5rem;
    padding: 1rem;
    align-content: center;
    background-color: #F45B69;
    border-width: 0px;
    border-radius: 0.5rem;
    box-shadow: 2px 3px 8px black;
}

tr{
    width: 270px;
    max-width: 270px;
}

/*review form*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #456990;
    padding: 0.5rem;
    border-radius: 1.2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16rem;
    display: none;
}

form input, form label {
    width: 80%;
    margin-bottom: 0.5rem;
}